<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body , html{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        overflow: hidden;
        }
        .portfolio{
          display: flex;
          flex-direction: row;
          background-color: brown;
          margin: 0%;
          height: 80vh;
          width: 100vw;
          position:relative;
          top:0px;
          left: 0px;
        }
        .navbar{
            display: flex;
            flex-direction: column;
            
            width: 10vw;
            justify-content: flex-start;
            height: 80vh;
            background-color: rgb(0, 0, 0);

        }
        .navitems{ 
            width: 10vw;
            color: aliceblue;
            height: 5vh;
            background-color: black;
            text-decoration: none;
            font-size: 23px;
            padding-left: 40px;
        }
        
        .info{
            display: flex;
            flex-direction: row;

        }
        .cv{
            background-color: aliceblue;
            width: 90vw;
            height: 80vh;
            text-align: left;
            
        }
        header{
            background-color: rgb(0, 0, 0);
            color: aliceblue;
            height: 10vh;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        
        footer{
           height:10vh;
           background-color: #270101; 
           text-align: center;
           
           
        }
        .navitem{
            width: 10vw;
            color: aliceblue;
            height: 5vh;
            background-color: black;
            text-decoration: underline;
            font-size: 23px;
            padding-left: 40px;
        }
        h3{
            font-size: 1.5em;
        }
        img{
            height: 45px;
        }
        pre{
            font-size: 1.5em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .mobile-logo {
  filter: brightness(0) invert(1); 
  fill: white;
}
.container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    
    align-items: flex-start;
    gap: 20px;
    height: auto;
    overflow-y: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    padding: 20px;
    gap: 30px;
    transition: transform 0.2s ease;
}





    </style>
</head>

<body>
    <header>
        <img class="mobile-logo" src="https://gradious.com/wp-content/uploads/2021/09/Logo-Icon.svg" sizes="0px" alt="Gradious" style="color: #270101;"><pre>  </pre><h3>Gradious</h3>
    </header>
    <div class="portfolio">
        <div class="navbar">
            <a href="index" class="navitem">Home</a>
            <a href="about" class="navitems">About me</a>
            <a href="Project" class="navitems">Projects</a>
            <a href="Contact" class="navitems">Contact</a>

        </div>

        <div class="info">
         <div class="cv">
            <div class="container">
                <div class="card">
                    <img src="urban.png" alt="Urban Breadwinner Logo">
                    <div class="project-details">
                        <h2>Urban BreadWinner</h2>
                        <p>
                            Urban Breadwinner is an interface that connects laborers on construction sites.
                            It collects and displays laborer details to help supervisors manage manpower more efficiently.
                        </p>
                    </div>
                </div>
            
                <div class="card">
                    <img src="collegepredictor.jpg" alt="College Predictor Logo">
                    <div class="project-details">
                        <h2>College Predictor</h2>
                        <p>
                            College Predictor helps students estimate their likely college admission based on EAMCET scores.
                            It also considers important factors like college distance, nearby hostels, and public transport availability.
                        </p>
                    </div>
                </div>
            </div>
            
</div>
   
            
             
        </div>

    </div>
    <footer>
        <br>
        
        <a href="https://github.com/sapellysaivivek"><i class="fa-brands fa-github" style="color: aliceblue; font-size: 1.em; padding-left: 10px;"></i></a>
        <i class="fa-brands fa-facebook-f" style="color: aliceblue; font-size: 1.em;padding-left: 10px"></i>
        <i class="fa-brands fa-google" style="color: aliceblue; font-size: 1.em; padding-left: 10px"></i>
        <i class="fa-brands fa-x-twitter" style="color: aliceblue; font-size: 1.em; padding-left: 10px"></i>
        <h4 style="color: aliceblue;">Gradius technologies.prt lit 2014</h4>
    </footer>
</body>
</html>